apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: usuarios-hpa
  namespace: fase3
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: usuarios-api
  minReplicas: 1
  maxReplicas: 2
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70

