
trigger:
  branches:
    include:
      - master

pool:
  #name: self-hosted
  vmImage: 'ubuntu-latest'
  
variables:
  imageName: 'fase3-jogos-img'
  dockerRegistry: 'fase3jogosacr.azurecr.io'
  containerGroupName: 'api-fase3-jogos'
  resourceGroup: 'grupo3' 
  location: 'westus2'           
  containerPort: '8080'
  aksClusterName: 'fase3-cluster'

stages:
  - stage: Build
    displayName: 'Build e Docker Image'
    jobs:
      - job: BuildAndPush
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: 'sdk'
              version: '8.0.x'

          - task: DotNetCoreCLI@2
            inputs:
              command: 'publish'
              publishWebProjects: true
              arguments: '--configuration Release --output $(Build.ArtifactStagingDirectory)'
              zipAfterPublish: false

          - task: Docker@2
            displayName: 'Build Docker image'
            inputs:
              containerRegistry: 'JogosAcrConnectionNew'
              repository: $(imageName)
              command: 'buildAndPush'
              Dockerfile: '**/Dockerfile'
              tags: |
                latest
                $(Build.BuildId)

  - stage: Deploy
    displayName: 'Deploy no AKS'
    dependsOn: Build
    jobs:
    - job: DeployToAKS
      displayName: 'Aplicar manifests no Kubernetes'
      steps:
      - task: AzureCLI@2
        displayName: 'Deploy usando kubectl'
        inputs:
          azureSubscription: 'FiapConnection'
          scriptType: 'bash'
          scriptLocation: 'inlineScript'
          inlineScript: |
            az aks get-credentials \
              --resource-group $(resourceGroup) \
              --name $(aksClusterName) \
              --overwrite-existing

            kubectl apply -f k8s/

            kubectl delete ingress jogos-ingress -n fase3 --ignore-not-found

            kubectl apply -f k8s/